<h2>Foro de chat</h2>
<h3>Agrega un comentario!</h3>
<div class="margin">
    <input type="text" id="chatBox"  name="text" class="input">
    <button id="botonChat">Enviar</button>
</div>
<div>
    <p  id="parrafosMensajes"></p>
</div>

